body {
  display: grid;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  color: black;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#socialIcon {
  height: 50px;
  width: 50px;
}

#logo {
  height: 30%;
  width: 30%;
}

.nav {
  display: inline-block;
  background-color: white;
  margin: auto;
  height: auto;
}
.card {
  height: 250px;
  margin-bottom: 80px;
  margin-top: auto;
}

#storethumbcard {
  height: 250px;
  margin-bottom: 80px;
  background: url(../src/images/1stStopStorePic4.png) no-repeat;
  background-size: 100%;
  background-position: center;
  text-align: left;
  color: white;
}

#cafethumbcard {
  height: 250px;
  margin-bottom: 80px;
  background: url(../src/images/CafeMenuPic.png) no-repeat;
  background-size: 100%;
  background-position: top;
  text-align: left;
  color: white;
}

#loungethumbcard {
  height: 250px;
  margin-bottom: 80px;
  background: url(../src/images/LoungeServicesPic1.png) no-repeat;
  background-size: 100%;
  background-position: bottom;
  text-align: left;
  color: white;
}

#eventsthumbcard {
  height: 250px;
  margin-bottom: 80px;
  background: url(../src/images/IMG9505661.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  text-align: left;
  color: white;
}

#storepic {
  height: 500px;
  margin-bottom: 80px;
  background: url(../src/images/1stStopStorePic4.png) no-repeat;
  background-size: 100%;
  background-position: center;
  text-align: left;
  color: white;
}

#storepic2 {
  height: 500px;
  margin-bottom: 80px;
  background: url(../src/images/1stStopStorePic3.png) no-repeat;
  background-size: 100%;
  background-position: center;
  text-align: left;
  color: white;
}

#loungepic {
  height: auto;
  width: auto;
  margin-bottom: 80px;
  background: url(../src/images/LoungeServicesPic.png) no-repeat;
  background-size: 100%;
  background-position: center;
  text-align: center;
  color: white;
}

#loungepic2 {
  height: 400px;
  width: 400px;
  margin-bottom: 80px;
  background: url(../src/images/LoungeServicesPic.png) no-repeat;
  background-size: 100%;
  background-position: center;
  text-align: center;
  color: white;
}

#intro {
  height: auto;
  text-align: center;
  color: darkred;
}

#footer {
  color: darkred;
  background-color: white;
  width: auto;
}

#footer2 {
  color: darkred;
  background-image: url("../src/images/444image.jpg");
  background-size: cover;
  background-position-y: 690px;
  opacity: .5;
  width: auto;
}

#menu {
  display: inline-block;
  margin: auto;
  height: 90%;
  width: 90%;
}

#menu2 {
  display: inline-block;
  margin: auto;
  height: 90%;
  width: 90%;
}

.eventContent {
  margin-top: 40px;
}

#foodGallery {
  margin-left: 30px;
  
  margin-left: center;
  height: 350px;
  width: 350px;
  background-image: url("../src/images/CafeFoodPic3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#foodGallery2 {
  margin-left: 30px;
  height: 350px;
  width: 350px;
  background-image: url("../src/images/CafeFoodPic.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#foodGallery3 {
  margin-left: 30px;
  margin-right: auto;
  height: 350px;
  width: 350px;
  background-image: url("../src/images/CafeCoffeePic.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  background-color: darkred;
}

